<div [@childAnimation]="data.playListVisible ? 'sideUp' : 'sideDown'" class="draw_wrapper">
  <div (tap)="handlerPlayerList(false)" class="mask"></div>
  <div class="list_wrapper">
    <div class="list_header">
      顺序播放({{data.playList.length}})
    </div>
    <div class="scroll_box">
      <app-scroll>
        <ul class="list_box">
          <li (tap)="playMusic(item.id, index)" *ngFor="let item of data.playList; let index=index">
            {{item.al.name}}<span>-{{item.name}}</span></li>
        </ul>
      </app-scroll>
    </div>
    <button (tap)="handlerPlayerList(false)">关闭</button>
  </div>
</div>