<div [@childAnimation]="data.playListVisible ? 'sideUp' : 'sideDown'" class="draw_wrapper">
  <div (tap)="handlerPlayerList(false)" class="mask"></div>
  <div class="list_wrapper">
    <div class="list_header">
      顺序播放(174)
    </div>
    <ul class="list_box">
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
    </ul>
    <button (tap)="handlerPlayerList(false)">关闭</button>
  </div>
</div>