<div style="display: none" class="draw_wrapper">
  <div class="list_wrapper">
    <div class="list_header">
      顺序播放(174)
    </div>
    <ul class="list_box">
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
      <li>Turn Down For What<span>-DJ Snake / Lil Jon</span></li>
    </ul>
    <button>关闭</button>
  </div>
</div>