<ul class="controller_box">
  <li class="introduce">
    <div class="image" style="background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1553535569226&di=812f6d71426c51bd6626ccf7a17666a7&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F01e3f1597ac37aa8012193a3b65df8.png')"></div>
    <div class="text">
      <h2>Develerle Yaşıyorum</h2>
      <p>Gaye Su Akyol</p>
    </div>
  </li>
  <li class="button_box">
    <div class="icon_shuffle"></div>
    <div class="icon_backward"></div>
    <div class="icon_stop"></div>
    <div class="icon_forward"></div>
    <div class="icon_repeat"></div>
  </li>
  <li class="volume_box">
    <div class="icon_devices_available"></div>
    <div class="icon_volume"></div>
  </li>
</ul>
