.function_button {
  color: #D4D4D4;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  margin: 88px 46px 50px 46px;
  text-align: center;
  .icon_box {
      width: 48px;
      height: 48px;
      background-size: 48px;
      background-repeat: no-repeat;
      margin-bottom: 4px;
  }
}
