<div class="audio_box">
  <div class="banner">
    <img src="" />
    <div class="function_box">
      <ul class="function_item">
        <li class="play">PLAY</li>
        <li class="follow">FOLLOW</li>
        <li class="share"></li>
        <li class="more"></li>
      </ul>
      <div class="follower">
        <div class="text">FOLLOWERS</div>
        <div class="number">67,543</div>
      </div>
    </div>
  </div>
  <div class="filter">
    <div class="icon_noun_search">FILTER</div>
    <div class="icon_noun_down">DOWNLOAD</div>
  </div>
  <div class="audio_list">
    播放列表
  </div>
</div>