html, body {
    font-family: PingFangSC-Light,helvetica neue,hiragino sans gb,arial,microsoft yahei ui,microsoft yahei,simsun,sans-serif;
    height: 100%;
}
html,body,p{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}