@import '../../helpers/constants.less';

.small_card_box {
  display: flex;
  margin-bottom: @14px;

  .image_box {
    width: 4rem;
    height: 4rem;

    img {
      width: 100%;
    }
  }

  .title_text_box {
    flex: 1;
    padding-left: @12px;

    .list_title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: horizontal;
      height: 2.8rem;
    }

    .list_text {
      font-size: @12px;
    }
  }

}
