<div class="banner_box">
  <div class="banner"></div>
  <div class="function_box">
    <div class="function_info">
      <div class="info_box">
        <div class="image"></div>
        <ul class="description">
          <li class="play_list">PLAYLIST</li>
          <li class="big_title">Drive Loud</li>
          <li class="name">Forget the traffic stress.</li>
          <li class="time">
            <span>Created by</span>
            <span>Spottily</span>
            <span>50 songs, 2 hr 46 min</span>
          </li>
        </ul>
      </div>
      <ul class="function_item">
        <li class="play">PLAY</li>
        <li class="follow">FOLLOW</li>
        <li class="share"></li>
        <li class="more"></li>
      </ul>
    </div>
    <div class="follower">
      <div class="text">FOLLOWERS</div>
      <div class="number">67,543</div>
    </div>
  </div>
</div>
<div class="filter">
  <div class="icon_noun_search">FILTER</div>
  <div class="icon_noun_down">DOWNLOAD</div>
</div>
