.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .music_player_box {
    display: flex;
    flex: 1;
    flex-direction: column;
    .navbar {
      width: 100%;
    }

    .content {
      flex: 1;
    }
  }
}
