.music_player_box {
  display: flex;
  height: 100%;

  .navbar {
    width: 300px;
    background: linear-gradient(360deg, #010B1E 0%, #020B1c 100%);
    height: 100%;
  }

  .content {
    flex: 1;
  }
}
