<div class="search_box">
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
  <div class="search_list_box">
    <div class="media_avatar">
      <img [src]="singer ? singerImageUrl : songImageUrl" />
    </div>
    <div class="info">
      <h1 class="main_title">张含韵</h1>
      <p class="sub_title">
        <span>单曲：65</span>
        <span>专辑：16</span>
      </p>
    </div>
  </div>
</div>
