<app-headline title="热门" size=22 color=true>
  <h1>自定义组件</h1>
</app-headline>
<div class="card_box">
  <app-big-card></app-big-card>
  <app-big-card></app-big-card>
  <app-big-card></app-big-card>
  <app-big-card></app-big-card>
  <app-big-card></app-big-card>
</div>
<app-headline size=20 title="心情"></app-headline>
<div class="card_box">
  <app-big-card></app-big-card>
  <app-big-card></app-big-card>
  <app-big-card></app-big-card>
  <app-big-card></app-big-card>
  <app-big-card></app-big-card>
</div>
<app-headline size=20 title="热门歌手"></app-headline>
<div class="card_box">
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
  <app-small-card></app-small-card>
</div>
