.hot_box {
  position: relative;
  height: auto;
  overflow: hidden;
}

.container_box {
  position: relative;
  z-index: 10;
  overflow: hidden;

  .content_box {
    display: flex;
    position: relative;
  }
}
