<app-scroll>
  <div class="hot_box">
    <div class="slide_render_view">
      <div class="slide_wrapper">
        <app-slider>
          <div class="slide_content">
            <div class="slide_item" *ngFor="let item of loopData">
              <a [href]="item.linkUrl">
                <img [src]="item.picUrl">
              </a>
            </div>
          </div>
        </app-slider>
      </div>
    </div>
    <h1 class="hot_title">热门歌单推荐</h1>
    <div class="content_box">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>
  </div>
</app-scroll>
