<app-scroll>
  <div class="hot_box">
    <div class="slide_render_view">
      <div class="slide_wrapper">
        <app-slider #slider [sliderData]="hotData.slider">
          <div class="slide_content">
            <div class="slide_item" *ngFor="let item of hotData.slider">
              <ng-container *ngIf="item.url; else elseTemplate">
                <a [href]="item.url">
                  <img [src]="item.imageUrl">
                </a>
              </ng-container>
              <ng-template #elseTemplate>
                <a href="javascript:;">
                  <img [src]="item.imageUrl">
                </a>
              </ng-template>
            </div>
          </div>
        </app-slider>
      </div>
    </div>
    <h1 class="hot_title">热门歌单推荐</h1>
    <div class="content_box">
      <ng-container *ngFor="let item of hotData.recommendList">
        <app-small-card [copywriter]="item.copywriter" [picUrl]="item.picUrl" [name]="item.name" [id]="item.id"></app-small-card>
      </ng-container>
    </div>
  </div>
</app-scroll>
<!-- 子路由 -->
<router-outlet></router-outlet>